@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

#logo{
    width: 6.125rem;
height: 3.0625rem;
flex-shrink: 0;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #fff;
}




.container{
    background: #002446;
    padding:0;
}



article{
    align-items: center;
    display: flex;
    text-align:center;
    flex-direction: column;
    margin-top: 3.44rem;
    color: #FFF;
}



.posBorder{
    width: 20.9375rem;
min-height: 18.6875rem;
flex-shrink: 0;
border-radius: 1.875rem;
background: rgba(167, 167, 167, 0.50);

display: flex;          /* Flex container로 설정 */
flex-direction: column; /* 자식 요소들을 세로로 배치 */
align-items: center;    /* 세로 중앙 정렬 */
justify-content: center;/* 가로 중앙 정렬 */
margin-bottom: 1.5rem;
padding: 1rem;    
}




footer{
    min-height:4.81rem;
    color: #FFF;
font-family: Pretendard;
font-size: 0.625rem;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align:center;
    margin-top: 3.44rem;
    padding-bottom: 20px;
}

.quiz__n{
    font-family: Pretendard;
font-size: 1.5625rem;
font-style: normal;
font-weight: 700;
color:#fff;
line-height: normal;
margin-top:1.5rem;
margin-bottom:1.12rem;
}

.quiz__q{
    color: #FFF;
text-align: center;
font-family: Pretendard;
font-size: 0.9375rem;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top:1.13rem;
margin-bottom:1.13rem;
}

.quiz__c{
    width: 16.875rem;
height: 3.125rem;
flex-shrink: 0;
border-radius: 1.875rem;
background: #FFF;
margin:0 auto;
margin-top:0.75rem;
color: #002446;
text-align: center;
font-family: Pretendard;
font-size: 1.25rem;
font-style: normal;
font-weight: 700;
line-height: normal;
display: flex;
    align-items: center;
    justify-content: center;
}

.quiz__c.selected {
    background-color: #FFD747;
}

#choice3{
    margin-bottom:1.5rem;
}

.develop{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
}
